<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="style.css">
    <title>pianoLearn - Acerca de</title>
</head>
<body>
    <h1>Acerca de</h1>
    <div class="row">
        <div class="column">
          <img src="foto2.jpg" alt="Persona tocando piano" style="width:233.8px;height:350px";>
        </div>
        <div class="column">
          <img src="foto4.jpg" alt="Hombre tocando el piano" style="width:233.8px;height:350px">
        </div>
        <div class="column">
            <img src="foto5.jpg" alt="Nino tocando el piano" style="width:480.5px;height:350px">
        </div>
    </div>
    <h2>¡Queremos inspirarte!</h2>
    <p>Gracias por permitirnos guiarte en esta travesía. No olvides que la perseverancia hace al maestro.</p>
    <address>
        Web page made by Gerson M.<br>
        Visit us at:<br>
        https://github.com/GerMorales<br>
        San Salvador, El Salvador<br>
        Centroamérica
        </address>
</body>
</html>