<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="/static/css/style.css">
    <title>pianoLearn - Acerca de</title>
</head>
<body>
    <h1>Acerca de</h1>
    <ul>
      <li><a href="index.html">Inicio</a></li>
      <li><a href="index.html#inspirate">Inspírate</a></li>
      <li><a href="index.html#tutorial">Tutorial</a></li>
      <li><a href="about.html">Acerca de</a></li>
    </ul>
    <div class="row">
        <div class="column">
          <img src="static/img/foto2.jpg" alt="Persona tocando piano" style="width:233.8px;height:350px";>
        </div>
        <div class="column">
          <img src="static/img/foto4.jpg" alt="Hombre tocando el piano" style="width:233.8px;height:350px">
        </div>
        <div class="column">
            <img src="static/img/foto5.jpg" alt="Nino tocando el piano" style="width:480.5px;height:350px">
        </div>
    </div>
    <!--Sección 1, información de contacto-->
    <h2>¡Queremos inspirarte!</h2>
    <p>Gracias por permitirnos guiarte en esta travesía. No olvides que la perseverancia hace al maestro.</p>
    <address>
        Página hecha por Gerson M.<br>
        Para más información:<br>
        https://github.com/GerMorales<br>
        San Salvador, El Salvador<br>
        Centroamérica
        </address>
</body>
</html>