<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" href="style.css"> 
    <title>pianoLearn - Inicio</title>
</head>
<body>
    <h1>pianoLearn: Aprende lo básico para tocar el piano</h1>
    <ul>
        <li><a href="index.html">Inicio</a></li>
        <li><a href="#Inspirate">Inspírate</a></li>
        <li><a href="#Tutorial">Tutorial</a></li>
        <li><a href="about.html">Acerca de</a></li>
      </ul>
    <h2>¿Por qué el piano?</h2>

    <img src="foto3.jpg" alt="Persona tocando el piano" style="width:525px;height:350x;">
    

    <p>El piano es un instrumento muy divertido para aprender a tocar. Según Flowkey, algunos beneficios son:</p>

    <blockquote cite=
    "https://www.flowkey.com/es/razones-tocar-piano-estimula-cerebro#:~:text=1.,el%20piano%20mejora%20tu%20coordinaci%C3%B3n&text=Aprender%20a%20realizar%20de%20forma,la%20vista%20y%20las%20manos.">
    1. Mejora la coordinación.<br>2. Aumenta la capacidad auditiva y lectora.<br>
    3. Mejora las destrezas en el lenguaje y las matemáticas.</blockquote>

    <h2 id="Inspirate">¡Inspírate!</h2>
    <p>Mira los siguientes videos de artistas que sorprenden con su talento</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ez1iu-zx7eE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/4KJEPYW5EiI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <div id="Separacion01">Otros videos que te pueden gustar: <br>
    <a href="https://www.youtube.com/watch?v=W7XHAGkQHRM">Wiz Khalifa - See You Again ft. Charlie Puth Piano Cover - Omar Altay</a><br>
    <a href=https://www.youtube.com/watch?v=I15MJQLOTVE>Queen - Under Pressure (Piano cover)</a><br>
    <a href=https://www.youtube.com/watch?v=_wYQc19p9W0>High Hopes - Panic! At The Disco (Piano Cover) by Peter Buka</a></div>

    <h2 id="Tutorial">Aprende lo básico</h2>
    <img src="foto1.jpg" alt="Piano y partitura" style="width:525px;height:350x;">

    <p>A continuación, observa algunas instrucciones simples para entender cómo tocar algunas notas (mano derecha)</p>
    <table class="tablaCentrada">
        <caption>Notas de la mano derecha</caption>
        <tr>
            <th>Dedo</th>
            <th>Nota</th>
            <th>Nota (Partitura)</th>
        </tr>
        <tr>
            <td>Pulgar</td>
            <td>1 - Do</td>
            <td><img src="1.jpg" alt="Do" style="width:240px;height:151x;"></td>
        </tr>
        <tr>
            <td>Índice</td>
            <td>2 - Re</td>
            <td><img src="2.jpg" alt="Re" style="width:240px;height:151x;"></td>
        </tr>
        <tr>
            <td>Medio</td>
            <td>3 - Mi</td>
            <td><img src="3.jpg" alt="Mi" style="width:240px;height:151x;"></td>
        </tr>
        <tr>
            <td>Anular</td>
            <td>4 - Fa</td>
            <td><img src="4.jpg" alt="Fa" style="width:240px;height:151x;"></td>
        </tr>
        <tr>
            <td>Meñique</td>
            <td>5 - Sol</td>
            <td><img src="5.jpg" alt="Sol" style="width:240px;height:151x;"></td>
        </tr>
    </table>
    <p>Finalmente, mira la siguiente imagen para saber dónde ubicar ambas manos. Fíjate que la mano izquierda posee las mismas notas, pero en un efecto espejo.</p>
    <img src="tutorial.png" alt="Tutorial" style="width:600px;height:451x;" class="imagenCentrada">
    <h3>¡Diviértete aprendiendo!</h3>
    <p>Puedes visitar una página especializada en enseñanza de piano <a href="https://www.flowkey.com/es">aquí</a>.</p>

    <a id="linksAprendizaje" href="https://www.joytunes.com/" target="blank"></a> <br>
    <button type="button" onclick="myFunction()">Presiona aquí para ver otra plataforma de aprendizaje</button>
    
    <script src="script.js"></script>
    <noscript>Disculpa, tu navegador no posee JavaScript</noscript>
</body>
</html>